<main class="main_content">
  <section class="account-information">
    <div class="card-information">
      <h2>{{ account()?.fullName | titlecase }}</h2>
      <img [src]="account()?.photoData" alt="">
      <div class="detail-segment">

        @if (account()?.hobby) {
        <div class="detail">
          <span>Pasatiempo:</span>
          <p>{{ account()?.hobby }}</p>
        </div>
        }
        <div class="detail">
          <span>Edad:</span>
          <p>{{ account()?.birthdate | ageCalculator }}</p>
        </div>

        @if (account()?.isAdult) {
        <div class="detail">
          <span>DUI:</span>
          <p>{{ account()?.dni | duiFormater }}</p>
        </div>
        }
      </div>
    </div>
  </section>
  <section class="my-selection">
    <div class="header">
      <h3>Mis Pokemons</h3>
      <button [routerLink]="['/pokemon-selector']" >
        Editar
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
        </svg>
      </button>
    </div>
    <div class="my-pokemons">
      @for (item of pokemons(); track $index) {
      <div class="pokemon">
        <div class="information">
          <img [src]="item.sprites.other?.home?.front_default" alt="">
          <h4>{{ item.name | titlecase }}</h4>
          <p>{{ typesToStrings(item.types) }}</p>
        </div>
        <div class="stats">
          @for (stat of item.stats; track $index) {
          <app-graphic [title]="stat.stat.name" [value]="stat.base_stat" />
          }
        </div>
      </div>
      }
    </div>
  </section>
</main>
