<main class="main_content">
  <div class="account-information">
    <div class="card-information">
      <h2>{{ account()?.fullName | titlecase }}</h2>
      <img [src]="account()?.photoData" alt="">
      <div class="detail-segment">

        @if (account()?.hobby) {
          <div class="detail">
            <span>Pasatiempo:</span>
            <p>{{ account()?.hobby }}</p>
          </div>
        }
        <div class="detail">
          <span>Edad:</span>
          <p>{{ account()?.birthdate | ageCalculator }}</p>
        </div>

        @if (account()?.isAdult) {
        <div class="detail">
          <span>DUI:</span>
          <p>{{ account()?.dni | duiFormater }}</p>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="pokemon-selection">
    <h4>Pokemon</h4>
    <p>Selecciona 3 pokemon para que sean parte de tu equipo</p>

    <input type="search" name="configurator_search_pokemon" id="configurator_search_pokemon" (input)="setSearchValue($event)">
    <section>
      @if (pokemonsToShow() !== null) {
      @for (item of pokemonsToShow(); track $index) {
      <div class="pokemon" [class.pokemon--selected]="item.selected" (click)="selectPokemon(item)">
        <div class="background">
          <img [src]="item.sprites.other?.home?.front_default" alt="">
          <div class="text">
            <h5>{{item.name | titlecase }}</h5>
            <p>{{ item.id | formatPokemonId }}</p>
          </div>
        </div>
      </div>
      }
      }
    </section>
    <button [disabled]="canSelectPokemon" (click)="savePokemons()">Guardar</button>
  </div>
</main>
